html,
body {
  font-size: 16px;
}

p,
h1,
h2,
h3,
li,
blockquote {
  font-family: Helvetica;
}

code {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace !important;
}
